* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aliceblue;
}

body * {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 588px;

  margin: 56px auto 0px;
  padding: 0 24px;
}
.logo {
  text-align: center;
  padding: 80px 0;
}
.logo img {
  width: 500px;
}

.formulario {
  text-align: center;
  padding: 0 24px;
}

.formulario form {
  margin: 40px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario input {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 0 20px;
  color: black;
  font-weight: 500px;
  font-size: 20px;
}

.formulario button {
  height: 60px;
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(224, 193, 18);
  color: black;
  font-weight: 500px;
}
