* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: rgb(205, 226, 226);
  -webkit-font-smoothing: antialiased;
  height: 100vh; /* Garante que o body ocupe a altura total da viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100vw;
  background-color: #070707;
  padding: 0 20px;
}

.menu .right {
  display: flex;
  flex-direction: column; /* Alinha o h1 e o a verticalmente */
  justify-content: center; /* Alinha verticalmente */
}

.menu a {
  color: rgb(224, 193, 18);
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu h1 {
  color: rgb(224, 193, 18);
}

.menu img {
  min-width: 10%;
  max-height: 70%;
}

.container {
  display: flex;
  flex: 1; /* Faz com que o contêiner ocupe o espaço restante após o cabeçalho */
}

.side-menu {
  display: flex;
  flex: 1;
  max-width: 250px;
  padding: 20px; /* Adiciona espaçamento interno, se necessário */
  overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
  background-color: #4d4c4c;
  color: rgb(224, 193, 18);
}

.accordion-item {
  margin-bottom: 10px;

  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.accordion-header {
  background-color: #4d4c4c;
  color: rgb(224, 193, 18);
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 60%;
  border-radius: 4px;
  font-size: 16px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content ul {
  margin-left: 20px;
  padding: 0;
}

.accordion-content li {
  margin: 5px 0;
  padding: 5px;
}

.accordion-content a {
  text-decoration: none;
  color: rgb(224, 193, 18);
}

/*Mainn fazer a parte de main agr*/

.main {
  flex: 1;
  border: 1px solid blue;
  box-sizing: border-box;
}

.titulo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  height: 100px;
}

/* Parde de pesquisa*/

.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 100px;
}

.pesquisa input {
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  width: 300px;
  padding: 0 24px;
}

.pesquisa button {
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  width: 100px;
  border: none;
  background-color: rgb(96, 238, 103);
}

.pesquisa button:hover {
  transition: 0.1s;
  background-color: rgb(81, 199, 86);
}

/*Parte do formulario*/

.formulario {
  margin-top: 20px;
  flex-direction: column; /* Faz com que os elementos fiquem em coluna */
  align-items: flex-start;
}

.formulario form {
  display: flex;
  flex-direction: column; /* Faz com que os elementos fiquem em coluna */
  align-items: center;
  margin-right: 200px;
}

.formulario p {
  display: flex;
  /* Alinha os rótulos e campos de entrada horizontalmente */
  margin: 10px 0;
  height: 50px;

  align-items: center; /* Alinha os rótulos e campos de entrada verticalmente */
}

.formulario label {
  margin: 50px 50px;
  width: 100px;
  text-align: right;
}

.formulario input {
  align-items: center;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 24px;
  width: 300px;
}

.formulario input:hover {
  transition: 0.2s;
  border: 1px solid black;
}

.botao {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin-top: 20px;
  margin-left: 90px;
}

.bt-excluir,
.bt-save {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0 10px; /* Espaço entre os botões */
}

.bt-excluir {
  background-color: red;
}

.bt-save {
  background-color: rgb(26, 211, 26);
}

.bt-excluir:hover,
.bt-save:hover {
  opacity: 0.8; /* Feedback visual ao passar o mouse sobre os botões */
}
