* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: rgb(205, 226, 226);
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  max-height: 100px;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  /* border: 1px solid blue; */
  min-height: 100vh;
  border-radius: 2px;
  background: rgb(224, 193, 18);
}

.sidebar ul {
  list-style-type: none;
  margin: 20px 50px;
}

.sidebar li {
  margin-top: 20px;
}

.menu {
  display: flex;
  height: 100px;
  /* border: 1px solid black; */
  width: 100vw;
  background-color: rgba(224, 193, 18, 0.212);
  border-radius: 2px;
  /* justify-content: right; */
  flex-direction: column;
  align-items: end;

  /*  */
}

.menu-link h1,
a {
  margin: 10px 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* .menu {
  border: 1px solid black;
  display: flex;
  width: 200px;
  margin-top: 15px;
  text-align: center;
}

.menu {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  align-items: center;
  border: 1px solid black;
} */

/*.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: white;
  opacity: 40%;
  border-radius: 15px;
  height: 120px;
}
.profile p {
}

.profile img {
  width: 150px;
  margin-right: 0;
  border-radius: 10px;
}

.navegacao {
  margin-top: 14px;
  display: flex;
  background-color: #333;
  /*border: 1px solid red;*/
/* width: 10%;
  height: 0vh;
  border-radius: 15px;
  background: white;
  opacity: 40%;
}

.conteudo {
  display: flex;
  flex: 1;
  margin-top: -35%;
  margin-left: 15%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 50%; /* Alterei aqui */

/* .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; 
  border: 1px solid;
  /* background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 50%; 
} */

/*.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  place-content: center;

  width: 100%;
  max-width: 700px;
}*/
